:root {
    --body-bg: #0077C3;
    --section-bg: #E3E4E6;
    --card-bg: #fff;
    --date-bg: #EC9488;
    --taskSelected-bg: #FFC1C1;
    --navigation: #026AA7;
    --button: #4E97C2;
    --letter: #000;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--letter);
}
body{
    background-color: var(--body-bg);
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: var(--navigation);
    padding: 0 100px 0 100px;
}

